body{
    background-color: #F7ECDE;
}
h1{
    font-family: "Righteous", cursive;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: #352e28 dotted 2px;
    
}

@media only screen and (max-width: 768px) {
 h1 {
        font-size: 1.3rem;
        font-weight: 300;
    }
}

.card img 
{
    height: 200px;
    object-fit: contain;
}